<div class="container">
  <div class="row">
    <div class="m-4 col">
      <h3 class="text-center">ようこそ！</h3>
      <h1 class="text-center">Deals Share Serviceへ！</h1>
      <h5 class="text-center">飲食店やアパレルショップなどの<br>
        お得な情報を共有して生活を豊かにしよう！</h5>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <div class="text-center">
        <%= link_to "お試し", posts_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>
  
</div>


