<h1>フォロー一覧</h1>

<% if @users.exists? %>
  <% @users.each do |user| %>
    <div>
      <%= link_to user_path(user.id) do %>
        <span><%= image_tag user.get_icon_image(100, 100) %></span>
        <span><%= user.user_name %></span>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>