<h1>ユーザー一覧</h1>

<!--ユーザー一覧-->
<% @users.each do |user| %>
  <div>
    <%= link_to adminuser_path(user.id) do %>
      <span><%= image_tag user.get_icon_image(100, 100) %></span>
      <span><%= user.user_name %></span>
    <% end %>
  </div>
<% end %>

